@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    padding: 0;
    border: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
}

/* input configs */

input:focus, textarea:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
  }

/* end input configs  */

.flex, section, body {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.shadow, section {
    -webkit-box-shadow: 10px 10px 70px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 70px -10px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 70px -10px rgba(0,0,0,0.75);
}

.flexcolumn, section {
    display: flex;
    flex-direction: column;
}

.spacer {
    margin-bottom: 25px;
}

body {
    background-color: rgb(174, 92, 182);
    margin-top: 10%;
}

section {
    border: 1px solid rgb(214, 132, 207);
    border-radius: 8px;
    min-width: 60%;
    width: 80%;
    padding: 16px 0;
}

section header h1 {
    color: white;
    font-size: 24px;
}

.points {
    margin: 5px 20px;
}

.points input{
    background-color: rgb(174, 92, 182);
    width: 40px;
    padding: 5px;
    border-bottom: 1px solid rgb(214, 149, 209);
}

.points input:focus{
        box-shadow: 0 0 0 0;
        border-bottom: 2px solid rgb(214, 120, 206);
        outline: 0;
        transition: 150ms;
}

button {
    padding: 10px 75px;
    border: 2px solid rgb(220, 144, 250);
    color: rgb(183, 0, 255);
    transition: 500ms;
    max-width: 80%;
    text-align: center;
}

button:hover {
    border: 2px solid rgb(140, 0, 196);
    transition: 500ms;
}

button:focus, textarea:focus, select:focus {
    background-color: rgb(149, 99, 241);
    color: white;
    transition: 500ms;
}

#funclabel {
    opacity: 0%;
    animation: fadein;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#func {
    opacity: 0%;
    animation: fadein;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#part2 {
    opacity: 0%;
    animation: fadein;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.btnNew {
    padding: 5px 5px;
    color: rgb(183, 0, 255);
    transition: 500ms;
    text-align: center;
}

.btnNew:hover {
    transition: 500ms;
}

.btnNew:focus{
    background-color: none;
    color: white;
    transition: 500ms;
}

/* animations */

@keyframes fadein {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}