@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    padding: 0;
    border: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.flex, section, body {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.shadow, section {
    -webkit-box-shadow: 10px 10px 70px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 70px -10px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 70px -10px rgba(0,0,0,0.75);
}

body {
    background-color: rgb(174, 92, 182);
    margin-top: 10%;
}

section {
    border: 1px solid rgb(214, 132, 207);
    border-radius: 8px;
    min-width: 60%;
    width: 80%;
    padding: 16px 0;
}

section header h1 {
    color: white;
}